.bg{
    background-size: cover;
    height: 70vh;
    background-image: url('./1.jpg');
}

.head{
    position: absolute;
    text-align: center;
    height: 70vh;
    padding: 10vh 0;
    background-color: rgba(44, 130, 201, .7)
}

.card-img-top{
    height: 300px !important;
    padding: 10px;
}